.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    .image {
        width: 500px;
        height: auto;
    }
    .text {
        text-align: center;
        font-size: 20px;
    }
    .btn {
        padding: 6px 14px;
        border-radius: 4px;
        border: none;
        color: #fff;
        background: #367AF6;
        user-select: none;
        -webkit-user-select: none;
        transition: 250ms;

        &:hover {
            background: #4B91F7;
        }
    }
}

