.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: #f7f7f7;
}

.control {
    display: flex;
    gap: 20px;
    .menu {
        display: inherit;
    &Item {
        display: flex;
        padding: 0 16px;
        justify-content: center;
        align-items: center;
        border: none;
        background-color: transparent;
        color: #595959;
        font-size: 24px;
        transition: 250ms;
        &:hover {
            color: rgb(70, 104, 255);
        }
        svg {
            pointer-events: none;
        }
    }
}
}

.input {
    height: 30px;
    border-radius: 4px;
    border: none;
    padding: 0 14px;
    background: #e8e8e8dd;
    transition: 250ms;
    &:focus, &:hover {
        background: #fff;
        outline: none;
    }
}

.auth {
    display: flex;
    gap: 20px;

    .link {
        text-decoration: none;
        color: #000;
        &Active {
            @extend .link;
            color:rgb(70, 104, 255);
        }
    }
}